*{
    padding: 0;
    margin: 0;
}
a,a:hover{
    text-decoration: none;
}
.text-red{
color:#FD485E;
}
.text-black{
color:#232323;
}
.text-gray{
color:#999;
}
.text-primary{
color:#128bed;
}
.span-warning{
padding:0.6em 0.4em 0.6em 0.4em;
border:1px solid #F5A623;
border-radius:10%;
color:#F5A623;
}
.span-success{
padding:0.6em 0.4em 0.6em 0.4em;
border:1px solid #009944;
border-radius:10%;
color:#009944;
}
.span-left{
float:left;
}
.title-left{
padding-left:3em;
}
.m-1{
margin-left:1em;
}
/*MyNav*/
.MyNav{
    background: #fff;
    width: 100%;
}
.MyNav .navbar{
    border-radius: 0;
    border:0;
}
.MyNav .navbar-myself{
background:#fff;
}
.MyNav .navbar-myself a{
color:#232323;
}
/*MyNav*/
/*search*/
.search_nav .navbar-mynav{
background:none;
}
.search_nav{
width:76%;
margin-top:8%
}
.search_nav .navbar-nav li a{
color:#fff;
font-size:1.1em;
}
.search_nav .navbar-nav > li > a:focus, .navbar-nav > li > a:hover,.navbar-collapse .active{
color:#232323;
background:#eee;
}
.search_nav .navbar-collapse .active{
background:#eee;
}
.search_nav .navbar-collapse .active a{
color:#232323;
}
.search{
    width:76%;
}
.search .input-group-addon{
background:#4d59e8;
border:none;
color:#fff;
}
/*search*/

/*search_info*/
.search_info{
    text-align: left;
    margin-top: 2%;
    font-size: 1.1em;
}
.search_info a{
    color:#232323;
}
.search_info .panel .panel{
    border:none;
}
.search_info .panel .col .panel-body{
    border:1px solid #ddd;
}
.search_info .head_img{
    width: 97%;
    height:97%;
    border-radius:0.3em;
}
.search_info .boss-name{
    color: #FD485E !important;
    font-size:1.2em;
}
.search_info .boss-province-info{
    margin-top: 2%;
}
.boss-province-info .row{
    margin-top: 2%;
}
.search_info .boss-headn{
    float: left;
width: 54px;
height: 54px;
border-radius: 6px;
background: #EFEFEF;
}
.search_info .usericon span{
    text-align: center;
    color: #9d9d9d;
    font-size:2em;
}
.search_info .boss-sum{
    text-align: center;
    color: #128bed;
}
.project .project-name{
color:#128bed;
font-size:1.2em;
}
.project .proinv-status{
padding: 0.3em 0.3em;
font-size: 1em;
color: #128bed;
border: solid 1px #128bed;
border-radius: 2px;
}
.project-gray{
margin-top:2%;
}
/*search_info*/
/*v3_sl_tab*/
.v3_sl_tab .Btntoggle .mybtn{
border-bottom:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
}
.v3_sl_tab dl{
clear:left;
}
.pull-left dd,dt{
float:left;
padding:0 0.7em 0 0.7em;
}
.pull-left dd:hover{
background:#128cec;
color:#fff;
}
.pull-left dd .dropdown{
list-style:none;
}
.pull-left dd .dropdown a:hover{
color:#fff;
text-decoration:none;
}
.pull-left a.more{
color:gray;
float:right;
}
/*v3_sl_tab*/
/*other-company*/
.other-company .sort{
float:right;
}
.other-company .sort li{
list-style:none;
}
.mytable tr td img{
width: 80px;
max-height: 80px
}
.mytable tr td .ma_h1{
color:#222;
font-size:1.2em;
font-weight:bold;
}
.mytable tr td a.text-primary{
color:#128bed;
}
.mytable tr td p.m-t-xs{
color:#666;
}
.mytable tr td .badge{
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 1em;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-color: #009944;
}
/*other-company*/

/*company_info*/
/*company-top*/
.company-top{
margin-top:3%;
}
.company-top .imgkuang img{
width:100%;
min-height:100px;
}
.company-top .company-name h3{
font-weight:600;
}
.company-top .company-name .span-warning{
  padding:0.7em 0.5em 0.7em 0.5em;
  border:1px solid #F5A623;
  color:#F5A623;
  margin-top:10%
}
.company-top .padding-left{
padding-left:2%;
}
.company-top .p{
margin-top:2%;
}
/*company-top*/
/*company-risk*/
.company-risk img{
width: 84px;
display: inline-block;
}
.company-risk a{
display: inline-block;
}
/*company-risk*/
/*工商信息*/
.tr-success{
background:#f2f9fc;
}
.tr-success td{
border-right:1px solid #e4eef6;
}
.two-nav{
background:#1abc9c;
}
.two-nav .navbar-nav li a{
color:#fff;
font-size:1.2em;
}
table{
font-size:1.1em;
}
/*工商信息*/
/*company_info*/
/*图谱*/
.img-nav{
background:none;
}
.img-nav li a{
color:#232323;
}
.img-nav .active a,a:hover{
color:#337ab7;
}
/*图谱*/
