<tr ng-repeat="et in etlist">
    <td>
        <img src="img/default.jpg">
    </td>
    <td>
        <a href="/etinfo?et={{et.et_id}}" ng-bind-html="et.et_name|wordPlace:keyword"  class="ma_h1"></a><br/>
        <p class="m-t-xs">法定代表人:<a href="" class="text-primary" ng-bind-html="et.legalman|wordPlace:keyword"></a>
            <span class="m-1">注册资本：{{et.reg_fund_str}}</span>
            <span class="m-1">成立时间：{{et.create_date}}</span>
        </p>
        </p>
        <p class="m-t-xs">
            地址：<span ng-bind-html="et.address|wordPlace:keyword"></span>
        </p>
        <p class="m-t-xs">
            <i class="glyphicon glyphicon-search"></i>
            法定代表人：<span class="text-danger" ng-bind-html="et.legalman|wordPlace:keyword"></span>
        </p>
    </td>
    <td>
        <span class="badge">存续</span>
    </td>
</tr>