<!-- 为ECharts准备一个具备大小（宽高）的Dom-->
<div id="chart" style="height:640px;"></div>
<!--实现滚动放大缩小-->
<script type="text/javascript">
    $(function() {

        function zoomImg(o) {
            var zoom = parseInt(o.style.zoom, 10) || 100;
            zoom += event.wheelDelta / 2; //可适合修改
            if (zoom > 0) o.style.zoom = zoom + '%';
        }

        $(document).ready(function() {
            $("#chart").bind("mousewheel",
                function() {
                    zoomImg(this);
                    return false;
                });
        });

    })
</script>
<!--实现鼠标拖拽-->
<script type="text/javascript">
    var drag=function(obj){

        obj.bind("mousedown",start);

        function start(event){
            if(event.button==0){//判断是否点击鼠标左键
                /*
                 * clientX和clientY代表鼠标当前的横纵坐标
                 * offset()该方法返回的对象包含两个整型属性：top 和 left，以像素计。此方法只对可见元素有效。
                 * bind()绑定事件，同样unbind解绑定，此效果的实现最后必须要解绑定，否则鼠标松开后拖拽效果依然存在
                 * getX获取当前鼠标横坐标和对象离屏幕左侧距离之差（也就是left）值，
                 * getY和getX同样道理，这两个差值就是鼠标相对于对象的定位，因为拖拽后鼠标和拖拽对象的相对位置是不变的
                 */
                gapX=event.clientX-obj.offset().left;
                gapY=event.clientY-obj.offset().top;
                //movemove事件必须绑定到$(document)上，鼠标移动是在整个屏幕上的
                $(document).bind("mousemove",move);
                //此处的$(document)可以改为obj
                $(document).bind("mouseup",stop);

            }
            return false;//阻止默认事件或冒泡
        }
        function move(event){
            obj.css({
                "left":(event.clientX-gapX)+"px",
                "top":(event.clientY-gapY)+"px"
            });
            return false;//阻止默认事件或冒泡
        }
        function stop(){
            //解绑定，这一步很必要，前面有解释
            $(document).unbind("mousemove",move);
            $(document).unbind("mouseup",stop);

        }
    }
    obj=$("#chart");
    drag(obj);//传入的必须是jQuery对象，否则不能调用jQuery的自定义函数
</script>

<script type="text/javascript">
    var dom = document.getElementById("chart");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    myChart.showLoading();
    //$.get('json/flare.json', function (data) {});
    myChart.hideLoading();

    myChart.setOption(option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        //工具栏
        toolbox:{
            show:true,
            feature:{
                saveAsImage:{
                    show:true
                },
                restore:{  //还原
                    show:true
                }
            }
        },
        series: [
            {
                type: 'tree',

                data: [
                    {
                        "name": "analytics",
                        "children": [
                            {
                                "name": "cluster",
                                "children": [
                                    {"name": "AgglomerativeCluster", "value": 3938},
                                    {"name": "CommunityStructure", "value": 3812},
                                    {"name": "HierarchicalCluster", "value": 6714},
                                    {"name": "MergeEdge", "value": 743}
                                ]
                            },
                            {
                                "name": "graph",
                                "children": [
                                    {"name": "BetweennessCentrality", "value": 3534},
                                    {"name": "LinkDistance", "value": 5731},
                                    {"name": "MaxFlowMinCut", "value": 7840},
                                    {"name": "ShortestPaths", "value": 5914},
                                    {"name": "SpanningTree", "value": 3416}
                                ]
                            },
                            {
                                "name": "optimization",
                                "children": [
                                    {"name": "AspectRatioBanker", "value": 7074}
                                ]
                            }
                        ]
                    }],
                //圆圈样式
                itemStyle:{
                    color: {
                        type: 'radial',
                        x: 0.5,
                        y: 0.5,
                        r: 0.5,
                        colorStops: [{
                            offset: 0, color: '#49ceb0' // 0% 处的颜色
                        }, {
                            offset: 1, color: '#49ceb0' // 100% 处的颜色
                        }],
                        globalCoord: true, // 缺省为 false
                    },
                    borderColor:"none"//圆圈的边框颜色
                },
                //字体样式
                label:{
                    show:true,
                    color:'black'
                },
                //线条样式
                lineStyle:{
                    color:'#9ecae1'
                },
                //叶子节点样式
                leaves:{
                    itemStyle:{
                        color: {
                            type: 'radial',
                            x: 0.5,
                            y: 0.5,
                            r: 0.5,
                            colorStops: [{
                                offset: 0, color: '#ee7698' // 0% 处的颜色
                            }, {
                                offset: 1, color: '#ee7698' // 100% 处的颜色
                            }],
                            globalCoord: true, // 缺省为 false
                        },
                        borderColor:"none"//圆圈的边框颜色
                    }
                },

                top: '18%',
                bottom: '14%',

                layout: 'radial',

                symbol: 'circle',

                symbolSize: 10,

                symbolKeepAspect:true,//缩放时保持该图形的长宽比

                initialTreeDepth: 3,

                animationDurationUpdate: 750

            }
        ]
    });

    if (option && typeof option == "object") {
        myChart.setOption(option, true);
    }

</script>
