<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/extension.css"/>

</head>
<style>
    body{
        background-image:url(./img/bg1.jpg);
        background-size: cover;
    }
</style>
<body ng-app="searchApp" ng-controller="searchCtrl">
<!--header-->
<div class="MyNav">
    <div class="container">
       <nav class="navbar navbar-myself" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">企业小雷达</a>
                </div>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>-->
            </div>
        </nav>
    </div>
</div>
<!--header-->
<!--center-->
<center>
      <div class="container">
          <div class="search_nav">
            <nav class="navbar navbar-mynav" role="navigation">
                <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">菜鸟教程</a>-->
                </div>
                <div class="collapse navbar-collapse" >
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">全部</a></li>
                        <li><a href="#">企业名</a></li>
                        <li><a href="#">法人</a></li>
                        <!--<li><a href="#">成立日期</a></li>
                        <li><a href="#">注册资本</a></li>-->
                        <li><a href="#">企业类型</a></li>
                        <li><a href="#">统一社会信用代码</a></li>
                        <li><a href="#">经营范围</a></li>
                        <li><a href="#">公司地址</a></li>
                        <li><a href="#">登记机关</a></li>
                        <!--<li><a href="#">法人/股东</a></li>
                        <li><a href="#">高管</a></li>
                        <li><a href="#">品牌/产品</a></li>
                        <li><a href="#">地址/电话</a></li>
                        <li><a href="#">经营范围</a></li>-->
                    </ul>
                </div>
                </div>
            </nav>
          </div>
          <div class="search">
              <div class="row">
                  <form class="input-group" id="searchForm"  method="get" action="/etlist">
                        <!--<input type="text" class="form-control input-lg" ng-model="searchVal"  id="in-key" name="key" placeholder="请输入企业名称、人名，产品名等，多关键词用空格隔开，如“小米 雷军”">-->
                      <input type="text" class="form-control input-lg" ng-model="searchVal" required="required"  name="key" placeholder="请输入企业名称、人名、统一社会信用代码等，如“腾讯”">
                      <a href="/etlist?key={{searchVal}}" type="submit" id="submit" class="input-group-addon input-lg" required="required">搜索</a>
                  </form>
               </div>
          </div>
      </div>
</center>

<!--center-->
<div class="container">
    <div class="result">
        <div class="row">
            <div >
                <ul>
                    <li class="form-control" ng-repeat="et in etlist|containkey:searchVal" ng-click="select(et.et_name)">
                        <a href="/etinfo?et={{et.id}}" ng-bind-html="et.et_name|wordPlace:searchVal"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="./js/common.js"></script>
<script src="js/module/module.search.js"></script>
<script src="./js/service/service.filter.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<!--<script src="./bower_components/state/lib/web/state.min.js"></script>-->
</body>
</html>