<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简略信息</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<style>
body{
    background: #f6f6f6;
}
</style>
<body ng-app="etApp">
<!--header-->
<div class="MyNav">
    <div class="container">
       <nav class="navbar navbar-myself" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">企业小雷达</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
                 <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="button" class="btn btn-info">搜索</button>
                </form>

            </div>
        </nav>
    </div>
</div>
<!--header-->
<!--center-->
<center>
      <div class="container">
           <div class="search_info">
               <!--head-panel-->
               <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            小雷为你找到同名老板<a href="#">2123位</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="row">
                                <a href="#">
                                    <div class="col-md-5 col">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="img/mayun.jpg" class="head_img"/>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="boss-name">马云</div>
                                                    <div class="m-l-sm">
                                                        共任职
                                                        <span class="text-danger">42</span>
                                                        家企业，主要分布：
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="boss-province-info">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        浙江共(
                                                        <span class="text-danger">16</span>
                                                        )家
                                                    </div>
                                                    <div class="col-md-7">阿里云计算有限公司…等</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        四川共(
                                                        <span class="text-danger">1</span>
                                                        )家
                                                    </div>
                                                    <div class="col-md-7">阿里巴巴(成都)教育软件有...</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        上海共(
                                                        <span class="text-danger">11</span>
                                                        )家
                                                    </div>
                                                    <div class="col-md-7">上海云锋投资管理有限公司…等</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="col-md-5 col">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-2 usericon">
                                                    <span class=" boss-headn">马</span>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="boss-name">马云</div>
                                                    <div class="m-l-sm">
                                                        共任职
                                                        <span class="text-danger">42</span>
                                                        家企业，主要分布：
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="boss-province-info">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        浙江共(
                                                        <span class="text-danger">16</span>
                                                        )家
                                                    </div>
                                                    <div class="col-md-7">阿里云计算有限公司…等</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        四川共(
                                                        <span class="text-danger">1</span>
                                                        )家
                                                    </div>
                                                    <div class="col-md-7">阿里巴巴(成都)教育软件有...</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        上海共(
                                                        <span class="text-danger">11</span>
                                                        )家
                                                    </div>
                                                    <div class="col-md-7">上海云锋投资管理有限公司…等</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="col-md-2 col">
                                        <div class="panel-body">
                                            <div class="boss-sum">
                                                <img src="img/boss_sum.png">
                                                <div class="m-t-md">
                                                    <span>查看全部</span><br/>
                                                    <span class="text-danger">2300</span>位马云
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               <!--head-panel-->
               <!--project-->
               <div class="project">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="#">
                                    <div class="col-md-5 col">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-2 usericon">
                                                    <img src="img/project.jpg" class="head_img"/>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="project-name">政和远景</span>
                                                    <span class="proinv-status">项目</span>
                                                    <div class="row project-gray">
                                                        <div class="col-md-6"><span class="text-gray">融资信息：</span>A轮</div>
                                                        <div class="col-md-6"><span class="text-gray">竞品信息：</span>B轮</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="proinv-desc">
                                                <span class="text-gray">简介：</span>
                                                其股东正和岛，是中国商界第一高端人脉与网络社交平台，有走正道、讲诚信且年营业额过亿的企业家付费会员6000余人，柳传志、
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
               <!--project-->
               <!--v3_sl_tab-->
               <div class="v3_sl_tab">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#company" data-toggle="tab">
                                                公司
                                            </a>
                                        </li>
                                        <li><a href="#risk-info" data-toggle="tab">风险信息</a></li>
                                        <li><a href="#konwledge-rights" data-toggle="tab">知识产权</a></li>
                                    </ul>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="company">
                                            <dl class="pull-left">
                                                <dt><span class="text-gray">查找范围:</span></dt>
                                                <dd><a href="#">企业名</a></dd>
                                                <dd>法人/股东</dd>
                                                <dd>高管</dd>
                                                <dd>品牌</dd>
                                                <dd>产品</dd>
                                                <dd>联系方式</dd>
                                            </dl>
                                            <dl class="pull-left">
                                                <dt><span class="text-gray">机构类型:</span></dt>
                                                <dd>企业</dd>
                                                <dd>社会组织</dd>
                                                <dd>香港公司</dd>
                                                <dd>台湾公司</dd>
                                            </dl>
                                            <dl class="pull-left">
                                                <dt><span class="text-gray">企业状态:</span></dt>
                                                <dd>正常(314241)</dd>
                                                <dd>社会组织</dd>
                                                <dd>香港公司</dd>
                                                <dd>台湾公司</dd>
                                            </dl>
                                            <dl class="pull-left" style="width:98%">
                                                <dt><span class="text-gray">成立日期:</span></dt>
                                                <dd>2018(906)</dd>
                                                <dd>2017(3363)</dd>
                                                <dd>
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            自定义
                                                            <b class="caret"></b>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <span class="col-md-2 text-gray control-label">从</span>
                                                                <div class="col-md-7">
                                                                   <input type="text" class="form-control" name="" />
                                                                </div>
                                                                <span class="col-md-3 text-gray control-label">年</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="col-md-2 text-gray control-label">至</span>
                                                                <div class="col-md-7">
                                                                    <input type="text" class="form-control" name=""/>
                                                                </div>
                                                                <span class="col-md-3 text-gray control-label">年</span>
                                                            </div>
                                                            <input type="submit" value="确定" class="btn btn-default" name=""/>
                                                            </form>
                                                        </ul>
                                                    </li>
                                                 </dd>
                                                <a href="" class="more">更多<i class="glyphicon glyphicon-menu-down"></i></a>
                                            </dl>
                                            <dl class="pull-left">
                                                <dt><span class="text-gray">注册资金:</span></dt>
                                                <dd>500万以下</dd>
                                                <dd>500~1000万</dd>
                                                <dd>
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            自定义
                                                            <b class="caret"></b>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <span class="col-md-2 text-gray control-label">从</span>
                                                                <div class="col-md-7">
                                                                   <input type="text" class="form-control" name="" />
                                                                </div>
                                                                <span class="col-md-3 text-gray control-label">万</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="col-md-2 text-gray control-label">至</span>
                                                                <div class="col-md-7">
                                                                    <input type="text" class="form-control" name=""/>
                                                                </div>
                                                                <span class="col-md-3 text-gray control-label">万</span>
                                                            </div>
                                                            </form>
                                                        </ul>
                                                    </li>
                                                 </dd>
                                            </dl>
                                        </div>
                                        <div class="tab-pane fade" id="risk-info">
                                            <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                                                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                                        </div>
                                        <div class="tab-pane fade" id="konwledge-rights">
                                            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Btntoggle">
                           <a data-toggle="collapse" data-parent="#accordion"
                              href="#collapseOne" class="btn mybtn" id="accbtn" style="margin-left:48%">收起</a>
                        </div>
                    </div>
               </div>
                <!--v3_sl_tab-->
               <!--other-company-->
               <div class="other-company">
               <div class="panel panel-default">
                    <div class="panel-heading">
                       小雷为你找到<span class="text-danger">5000+</span>相同的企业
                        <div class="sort">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    默认排序
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">默认排序</a></li>
                                    <li><a href="#">成立日期升序</a></li>
                                    <li><a href="#">成立日期降序</a></li>
                                    <li><a href="#">注册资本升序</a></li>
                                    <li><a href="#">注册资本降序</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover mytable">
                          <!--<caption>悬停表格布局</caption>-->
                          <thead>
                            <tr>
                              <th>公司</th>
                              <th></th>
                              <th>状态</th>
                            </tr>
                          </thead>
                          <tbody ng-view></tbody>
                        </table>
                        <div class="page">
                            <ul class="pagination pagination-md">
                                <%for(var i =1;i<=total;i++){%>
                                    <li><a href="#/<%=i%>"><%=i%></a></li>
                                <%}%>
                                <li style="margin-left:20px;">跳到<input type="text" class="form-control" style="width:60px;display:inline-block;">页
                                 <a href="" class="btn btn-default" style="float:none;">确定</a>
                                </li>
                            </ul>
                        </div>
                   </div>
                 </div>
                </div>
               <!--other-company-->
           </div>
      </div>
</center>
<!--center-->

<script type="text/javascript">
/*$(document).ready(function(){
  $('#collapseOne').on('show.bs.collapse', function () {
  <!--alert("收起");-->
    $('#accbtn').text('收起');
});
$('#collapseOne').on('hidden.bs.collapse', function () {
<!--alert("展开");-->
     $('#accbtn').text('展开');
});
});*/
</script>
<!--保存关键词-->
<script>
    keyword='<%=key%>';
</script>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="js/module/module.etinfo.js"></script>
<script src="./js/module/module.etlist.js"></script>
<script src="./js/service/service.etlist.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./js/service/service.filter.js"></script>
</body>
</html>